<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Chocolatey -->
    <package id="chocolatey" />
    <package id="chocolatey-core.extension" />
    <package id="chocolateygui" />

    <!-- DotNet -->
    <package id="dotnet3.5" />
    <package id="dotnetfx" />
    <package id="dotnetcore-sdk" ignoreDependencies="true" />

    <!-- Programming languages and package managers -->
    <package id="jdk8" installArguments="-params 'both=true'"/>
    <package id="jre8" />

    <!-- System -->
    <package id="hyper" />
    <package id="7zip.install" />

    <!-- Web -->
    <package id="googleChrome" />
    <package id="fiddler" />
    <package id="postman" />

    <!-- Files and Terminals -->
    <package id="winscp.install" />
    <package id="cyberduck.install" />
    <package id="putty.install" />

    <!-- Developer Tools -->
    <package id="notepadplusplus.install" />
    <package id="notepadplusplus-npppluginmanager" />
    <package id="vscode" />
    <package id="visualstudio2017community" />
    <package id="visualstudio2017-workload-manageddesktop" />
    <package id="visualstudio2017-workload-netcoretools" />
    <package id="visualstudio2017-workload-data" />
    <package id="dotpeek" />
    <package id="resharper" />
    <package id="eclipse" />
    <package id="gradle" />
    <package id="ant" />
    <package id="maven" />
    <package id="sql-server-management-studio" />
    <package id="pgadmin4" />

    <!-- Docker -->
    <package id="docker-desktop" version="2.1.6.1" />

    <!-- Linux -->
    <package id="vcxsrv" />
</packages>
